*{
    box-sizing: border-box;
    margin: 0;
}

#starbucks_icon{
    background-image: url(assets/logo.svg);
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 25px;
    background-size: cover;
    padding: 0 25px;
}

header{
    height: 90px;
}

nav{
    height: 100%;
    padding: 20px 0;
    background-color: #fefefeff;
}

#menu{
    display: inline-block;
}

a{
    color: black;
    text-decoration: none;

}

section img{
    width: 50%;
}

.navB, #starbucks_icon{
    vertical-align: middle;
}

.navB{
    display: inline-block;
    font-weight: bold;
    font-family: SoDo Sans,Helvetica,Arial,sans-serif;
    padding: 0 25px;
}

.navB a{
    color: #212121;
}

.navB a:hover{
    border-bottom: 6px solid #00754a;
    color: #00754a;
    padding-bottom: 25px;
    

}

.banner{
    display: flex;
    background-color: #1e3932;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.banner h1{
    font-size: 28px;
}

.banner h1, .banner p{
    vertical-align: middle;
    margin-bottom: 25px;
    font-family: SoDo Sans,Helvetica,Arial,sans-serif;
}

.banner p{
    font-size: 18px;
    font-family: SoDo Sans,Helvetica,Arial,sans-serif;
    line-height: 25px;
}

.banner div{
    padding: 0 60px;
    align-content: center;
}

#caffe-cortado{
    background-color: rgb(202 227 144);
    color: #1e3932;
}

#tostado{
    background-color: rgb(246 228 174);
    color: #204285;
}

/* ESTILOS DEL POSITION */

.box{
    top: 50px;
    bottom: 0;
    right: 0;
    left: 20px;
    width: 150px;
    height: 150px;
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
    background-color: chocolate;
    color: beige;
}

#RELATIVE{
    background-color: #1e3932;
    position: relative;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 150px;
}

#absolute{
    position: absolute;
    background-color: #204285;
}

#fixed{
    position: fixed;
    bottom: 50px;
    right: 10px;
    background-color: cadetblue;
}

#sticky{
    position: sticky;
    background-color: aqua;
    top 50 px ;
}

ul{
    list-style: none;
    padding: none;
}

footer{
    background-color: rgb(255, 255, 255);
    padding: 20px 0;
    color: rgb(32, 32, 32);
    text-align: center;
    border-top: 1px solid slategray;
}

.footer_links{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    align-items: flex-start;
    gap: 50px;
    


}

.footer_links .socialll{
    line-height: 50px;
}

.container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.social{
    display: flex;
    /* The `gap: 15px;` property is used to set the spacing between flex items in a flex container. In
    this case, it specifies a 15px gap between the items within the `.social` class, which is a flex
    container. This property helps in creating consistent spacing between the social media icons or
    links within the flex container. */
    gap: 15px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid slategray;
}

.social a{
    text-decoration: none;
    width: 50px;
    background-color: aliceblue;
    height: 50px;   
}

#face{
    background-image: url(img/face.png);
    background-color: transparent;
    background-size: cover;

}